
<footer class="footer footer-primary mt-4">
    <div class="container">
        <div class="row footer-content">
            <div  class="col-md-3 footer-logo bg-warning" style="border-radius: 20px;width: fit-content;">
                <img src="assets/logo-png-removebg-preview (2).png" alt="Company Logo">
            </div>
            <div class="col-md-6 footer-links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-legal">
                <ul>
                    <li><a href="/privacy-policy">Privacy Policy</a></li>
                    <li><a href="/terms-and-conditions">Terms and Conditions</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 footer-disclaimer">
                <p>&copy; 2023 rentOn. All rights reserved.</p>
                <p>Disclaimer: This website is for informational purposes only. Use of this site constitutes acceptance of our <a href="/terms-and-conditions">Terms and Conditions</a> and <a href="/privacy-policy">Privacy Policy</a>.</p>
            </div>
        </div>
    </div>
</footer>