<app-navbar></app-navbar>


<div class="container mt-1">

  <div class="row">
    <div class="col-md-4">
     
      <div *ngIf="userdata.image; else noImage" class="mt-5  d-flex align-items-center justify-content-center">
        <img style="height: 300px;width: 300px;border-radius:50%;" src="http://localhost:5000/public/{{userdata.image}}" alt="...">
      </div>
      <ng-template #noImage>
        <div class="mt-5 d-flex align-items-center justify-content-center">
          <img style="height: 300px;width: 300px;border-radius:50%;" src="assets/149071.png" alt="...">
        </div>
      </ng-template>
    
      <div class="d-flex justify-content-center">
        <h1 *ngIf="!sub;else notsube">{{userdata.name}}</h1>
        <ng-template #notsube>
          <h1>{{userdata.name}}
            <i class="material-icons" style="font-weight: bold; color: green;">check</i> 
          </h1>
          

        </ng-template>
      </div>


      <div class="d-flex mt-3 justify-content-center">
        <h3>connections - {{concount}}</h3>
        <h3 style="margin-left:15px;">post - {{userdata.post}}</h3><br>

      </div>


        <div *ngIf="current.purpose=='customer'"  class="d-flex mt-1 justify-content-center">
          <a *ngIf="userdata.purpose=='service' || userdata.purpose=='business'"  (click)="createconnection(userdata._id)" style="font-weight: bolder;color: antiquewhite;" class="btn btn-warning">chat</a>
        </div>
        

     
    
    </div>

    <div class="col-lg-6 mt-5">
      <div class="newboot" style="background-color:aqua;border-radius:40px;width:fit-content;">
        <span class="boot m-2">{{userdata.purpose}}</span>
      </div>
      <div class="card mt-5">


        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Full Name</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{userdata.name}}</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">place</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{userdata.place}}</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">aboutyou</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{userdata.aboutyou}}</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Mobile No</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{userdata.phone}}</p>
            </div>
          </div>
          <hr>
          <div *ngIf="userdata.qualification" class="row">
            <div class="col-sm-3">
              <p class="mb-0">qualification</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{userdata.qualification}}</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="userdata || vehicledata">
    <div class="col-lg-6" *ngFor="let item of vehicledata">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4 imgfit">
            <img style="height: 200px; width: 200px; border: 2px solid rgb(60, 51, 51);"
              src="http://localhost:5000/public/{{item.image}}"
              class="rounded-start" alt="...">
          </div>
  
          <div class="col-md-8 colr">
            <div class="card-body row ">
  
             
              <div class="col-4 ">
                <h2  class="card-title">${{item.rentAmount}}</h2>
                
                <h5 class="mt-2" style="font-weight: bolder;">{{item.name}}</h5>
               </div>
               <div class="col-4">
                <p class="mt-2" style="font-weight: bolder;" >type - {{item.type}}</p>
                <div  *ngIf="!item.is_block ; else elsetrue" class="bg-warning" style="border-radius: 10px; width: fit-content;">
                  <p class="mt-2 m-2" style="font-weight: bolder;">{{item.status}}</p>
                </div>
                <ng-template #elsetrue>
                  <div  class="bg-danger" style="border-radius: 10px; width: fit-content;">
                    <p class="mt-2 m-2" style="font-weight: bolder;">BLOCKED</p>
                  </div>
                </ng-template> 

               </div>
               <div class="col-3 ">
                
                <p class="mt-2 " style="font-weight: bolder;">like -{{item.like | count}}</p>
                <p class="mt3" style="font-weight: bolder;">views -{{item.views | count}}</p>
  
               </div>
              
              
               <div class="mb-1">
                
               
                <button *ngIf="current.purpose=='customer'" (click)="createconnection(userdata._id)" style="margin-left: 10px;font-weight: bolder;" class=" btn btn-info btn-sm">chat with owner</button>
                <button (click)="saveimge(item._id)" class=" btn btn-dark btn-sm " style="float: right;margin-right: 10px;font-weight: bolder;">Save</button>
               </div>
               <hr>
               <div>
                <span class=" items" style="font-weight: bolder;float: right;">{{ item.date | date:'yyyy-MM-dd' }}</span>
                <span class=" items " style="font-weight: bolder;">{{item.place}}</span>
               </div>
  
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>

</div>