<app-adminnav></app-adminnav>


<div class="container mt-5">
    <div class="row">

        <div class="col-xl-3 col-lg-6">
            <div class="card l-bg-cherry">
                <div class="card-statistic-3 p-4">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="card-icon card-icon-large"><i class="fas fa-shopping-cart"></i></div>
                            <div class="mb-4">
                                <h5 class="card-title mb-0">customer</h5>
                            </div>
                            <div class="row align-items-center mb-2 d-flex">
                                <div class="col-8">
                                    <h2 class="d-flex align-items-center mb-0">
                                        {{customer}}
                                    </h2>
                                    
                                </div>
                               
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-8">
                                <div class="card-icon card-icon-large"><i class="fas fa-shopping-cart"></i></div>
                                <div class="mb-4">
                                    <h5  style="color: red;" class=" card-title mb-0">blocked</h5>
                                </div>
                                <div class="row align-items-center mb-2 d-flex">
                                    <div class="col-7">
                                        <h2 class="d-flex align-items-center mb-0">
                                            {{customerblock}}
                                        </h2>
                                        
                                    </div>
                                   
                                </div>
                            </div>
                        </div>

                    

                  </div>

                   
                </div>
            </div>
        </div>   
        <div class="col-xl-3 col-lg-6">
            <div class="card l-bg-orange-dark">
                <div class="card-statistic-3 p-4">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="card-icon card-icon-large"><i class="fas fa-shopping-cart"></i></div>
                            <div class="mb-4">
                                <h5 class="card-title mb-0">business</h5>
                            </div>
                            <div class="row align-items-center mb-2 d-flex">
                                <div class="col-8">
                                    <h2 class="d-flex align-items-center mb-0">
                                        {{business}}
                                    </h2>
                                    
                                </div>
                               
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-8">
                                <div class="card-icon card-icon-large"><i class="fas fa-shopping-cart"></i></div>
                                <div class="mb-4">
                                    <h5  style="color: red;" class=" card-title mb-0">blocked</h5>
                                </div>
                                <div class="row align-items-center mb-2 d-flex">
                                    <div class="col-7">
                                        <h2 class="d-flex align-items-center mb-0">
                                            {{businessblock}}
                                        </h2>
                                        
                                    </div>
                                   
                                </div>
                            </div>
                        </div>

                    

                  </div>

                   
                </div>
            </div>
        </div>   
        <div class="col-xl-3 col-lg-6">
            <div class="card l-bg-blue-dark">
                <div class="card-statistic-3 p-4">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="card-icon card-icon-large"><i class="fas fa-shopping-cart"></i></div>
                            <div class="mb-4">
                                <h5 class="card-title mb-0">service</h5>
                            </div>
                            <div class="row align-items-center mb-2 d-flex">
                                <div class="col-8">
                                    <h2 class="d-flex align-items-center mb-0">
                                        {{service}}
                                    </h2>
                                    
                                </div>
                               
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-8">
                                <div class="card-icon card-icon-large"><i class="fas fa-shopping-cart"></i></div>
                                <div class="mb-4">
                                    <h5  style="color: red;" class=" card-title mb-0">blocked</h5>
                                </div>
                                <div class="row align-items-center mb-2 d-flex">
                                    <div class="col-7">
                                        <h2 class="d-flex align-items-center mb-0">
                                            {{serviceblock}}
                                        </h2>
                                        
                                    </div>
                                   
                                </div>
                            </div>
                        </div>

                    

                  </div>

                   
                </div>
            </div>
        </div>   
        <div class="col-xl-3 col-lg-6">
            <div class="card l-bg-green-dark">
                <div class="card-statistic-3 p-4">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="card-icon card-icon-large"><i class="fas fa-shopping-cart"></i></div>
                            <div class="mb-4">
                                <h5 class="card-title mb-0">vehicles</h5>
                            </div>
                            <div class="row align-items-center mb-2 d-flex">
                                <div class="col-8">
                                    <h2 class="d-flex align-items-center mb-0">
                                        {{vehicles}}
                                    </h2>
                                    
                                </div>
                               
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-8">
                                <div class="card-icon card-icon-large"><i class="fas fa-shopping-cart"></i></div>
                                <div class="mb-4">
                                    <h5  style="color: red;" class=" card-title mb-0">blocked</h5>
                                </div>
                                <div class="row align-items-center mb-2 d-flex">
                                    <div class="col-7">
                                        <h2 class="d-flex align-items-center mb-0">
                                            {{vehiclesblock}}
                                        </h2>
                                        
                                    </div>
                                   
                                </div>
                            </div>
                        </div>

                    

                  </div>

                   
                </div>
            </div>
        </div>   


        <div class="col-xl-3 col-lg-6">
            <div class="card l-bg-yellow-dark">
                <div class="card-statistic-3 p-4">
                    <div class="card-icon card-icon-large"><i class="fas fa-shopping-cart"></i></div>
                    <div class="mb-4">
                        <h5 class="card-title mb-0">vehicleactive</h5>
                    </div>
                    <div class="row align-items-center mb-2 d-flex">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center mb-0">
                                {{vehiclesactive}}

                            </h2>
                        </div>
                       
                    </div>
                   
                </div>
            </div>
        </div>   

        <div class="col-xl-3 col-lg-6">
            <div class="card l-bg-dark-dark">
                <div class="card-statistic-3 p-4">
                    <div class="card-icon card-icon-large"><i class="fas fa-shopping-cart"></i></div>
                    <div class="mb-4">
                        <h5 class="card-title mb-0">vehiclrunning</h5>
                    </div>
                    <div class="row align-items-center mb-2 d-flex">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center mb-0">
                                {{vehiclesrunning}}

                            </h2>
                        </div>
                       
                    </div>
                   
                </div>
            </div>
        </div>   

        <div class="col-xl-3 col-lg-6">
            <div class="card l-bg-new-dark">
                <div class="card-statistic-3 p-4">
                    <div class="card-icon card-icon-large"><i class="fas fa-shopping-cart"></i></div>
                    <div class="mb-4">
                        <h5 class="card-title mb-0">subscribers</h5>
                    </div>
                    <div class="row align-items-center mb-2 d-flex">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center mb-0">
                                {{subcribe}}
                            </h2>
                        </div>
                       
                    </div>
                   
                </div>
            </div>
        </div>   

        <div class="col-xl-3 col-lg-6">
            <div class="card l-bg-sell-dark ">
                <div class="card-statistic-3 p-4">
                    <div class="card-icon card-icon-large"><i class="fas fa-shopping-cart"></i></div>
                    <div class="mb-4">
                        <h5 class="card-title mb-0">showfastvehicle</h5>
                    </div>
                    <div class="row align-items-center mb-2 d-flex">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center mb-0">
                                {{showfast}}
                            </h2>
                        </div>
                       
                    </div>
                   
                </div>
            </div>
        </div>   
    </div>
    <div style="width:400;height:400;">
        <canvas  id="myChart"></canvas>
    </div>

</div>
