<app-navbar></app-navbar>
<app-genric (serchdata)="serchdata($event)"></app-genric>
<div class="container">
    <h5 class="section-title h1 mt-4 justify-content-center d-flex">business List</h5><hr>
    <div class="row" *ngIf="datas">
        <!-- Team member -->
        <div class="col-lg-3" *ngFor="let item of datas | search : searchText" >
            <div class="image-flip">
                <div class="mainflip flip-0">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p *ngIf="item.image ; else noimage"><img class="img-fluid"
                                        src="http://localhost:5000/public/{{item.image}}"
                                        alt="card image"></p>
                                        <ng-template #noimage>
                                            <p><img class="img-fluid"
                                                src="assets/149071.png"
                                                alt="card image"></p>   
                                        </ng-template>
                                           
                                <h4 class="card-title">{{item.name}}</h4>
                                <div class="d-flex align-items-center justify-content-center">
                                    <p>connections - {{item.connections}}</p>
                                    <p style="margin-left: 10px;">post - {{item.post}}</p>
                                     
                                </div>      
                                <p>reting  -0.{{item.rating}} </p><hr>
                                <p style="font-weight: bold;color: rgb(103, 99, 94);">{{item.place}}</p> 

                                
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title">{{item.name}}</h4>
                                <p class="card-text">{{item.aboutyou}}.</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank"
                                            href="https://www.fiverr.com/share/qb8D02">
                                            <button class="btn btn-success"><i class=""></i>
                                                make connect
                                            </button>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank"
                                            href="https://www.fiverr.com/share/qb8D02">
                                            <button class="btn btn-success"><i class=""></i>view profile
                                            </button>
                                        </a>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>