.container{
    border:2px solid black;
}
.stylebt{
    border:2px solid black;

}

/* Apply custom styles to the search input */
.custom-search-input {
    border: 2px solid #3498db; /* Add a blue border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px; /* Add some padding */
    width: 100%; /* Make it 100% width within its container */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Add a slight shadow */
}

/* Style the placeholder text */
.custom-search-input::placeholder {
    color: #999; /* Light gray color */
}

/* Style the input when it's in focus (clicked or selected) */
.custom-search-input:focus {
    outline: none; /* Remove the default outline */
    border-color: #ff5722; /* Change border color when focused */
}



@media (max-width:771px) {
    .stylebt{
        border:none;
    }
}
@media (max-width:771px) {
    .tect{
        margin-right:40px;
    }
}




