<div class="container mt-1 ">
    <div class="row ">

        <div class="col-4 m-2 ">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        <div class="col-7 d-flex justify-content-end" >
            <div class="col-2 m-2 stylebt d-flex align-items-center justify-content-center">
                <div class="">
                    <a class="nav-link tect dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        FILTER
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-2 m-2 stylebt  d-flex align-items-center justify-content-center">
                <div class="">
                    <a class="nav-link  dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        SORT
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                       
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
        </div>
       
    </div>

</div>