<div class="container mt-1 ">
    <div class="row ">

        <div class="col-4 m-2 ">
           
                <input class="form-control me-2" type="search" [(ngModel)]="searchText" (ngModelChange)="reload()" placeholder="Search place or name...!" aria-label="Search">
         
        </div>
        <div class="col-7 d-flex justify-content-end" >
            <div class="col-2 m-2 stylebt d-flex align-items-center justify-content-center">
                <div class="">
                    <a class="nav-link tect dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        FILTER
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" (click)="filtertyp2()">2 weelar</a></li>
                        <li><a class="dropdown-item" (click)="filtertyp4()" >4 weelar</a></li>
                        <li><a class="dropdown-item" (click)="filtertyp6()" >6 weelar</a></li>
                        <li><a class="dropdown-item" (click)="filterall()" >all</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-2 m-2 stylebt  d-flex align-items-center justify-content-center">
                <div class="">
                    <a class="nav-link  dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        SORT
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" (click)="sortedmorthan()">morthan 2000</a></li>
                        <li><a class="dropdown-item"  (click)="sortedlower()"  >low 2000</a></li>
                        <li><a class="dropdown-item"  (click)="alldata()"  >all</a></li>
                       
                    </ul>
                </div>
            </div>
        </div>
       
    </div>

</div>