.container{
    border:2px solid black;
}
.stylebt{
    border:2px solid black;

}



@media (max-width:771px) {
    .stylebt{
        border:none;
    }
}
@media (max-width:771px) {
    .tect{
        margin-right:40px;
    }
}




