

.typec{
    border-radius:50px;
    background-color: aqua;
    overflow: hidden;
}
.boot{
    font-weight: bold;
}
.imgfit{
    object-fit:cover;
}

.dropdown-toggle::after {
    content: none;
  }

  .dots:hover{
    color: chocolate;
  }
  

  .colr{
    background-color: rgb(231, 245, 245);
  }


@media (min-width:991px){
    .firstone{
        display: none;
    }
    

}
@media (max-width:991px){
    .lastone{
        display: none;
    }
    .firstone{
        float: right;
    }
    

}

.items{
    color: rgb(129, 120, 110);
}