<app-navbar (updateDatashow)="updateDatashow($event)"></app-navbar>


<div class="container mt-1">

  <div class="row">
    <div class="col-md-4">
      <div class="col-md-1 m-2 stylebt firstone">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            actions
          </button>
          <ul class="dropdown-menu">
            <li *ngIf="userdata.purpose=='business' && sub ;else notsub">
              <a *ngIf="userdata.admin_verify;else notver" class="dropdown-item" (click)="showAddVehicle()" >ADD
                VEHICLE</a>
                <ng-template #notver>
                  <a (click)="notverify()"  class="dropdown-item" >ADD
                    VEHICLE</a>
                </ng-template>
              </li>
            <ng-template #notsub>
              <li *ngIf="userdata.purpose=='business'"><a class="dropdown-item" (click)="notakensub()" >ADD VEHICLE
                </a></li>
            </ng-template>  
            <!-- <ng-template #isservice>
              <li *ngIf="userdata.purpose=='service'">
                <a *ngIf="userdata.admin_verify;else notadm" class="dropdown-item" >ADD POST
              </a>
  
              <ng-template #notadm>
                <a class="dropdown-item" (click)="notverify()" >ADD POST
                </a>
              </ng-template>
  
            </li>
            </ng-template>   -->
            <li><a class="dropdown-item" (click)="showEditProfile()">EDIT PROFILE</a></li>
            <li *ngIf="(userdata.purpose === 'service' || userdata.purpose === 'business') && !sub; else notis">
              <a *ngIf="userdata.admin_verify;else notv" class="dropdown-item" [routerLink]="['/subscription']" routerLinkActive="router-link-active">GET SUBSCRIPTION</a>
              <ng-template #notv>
              <a  (click)="notverify()" class="dropdown-item" >GET SUBSCRIPTION</a>
  
              </ng-template>
            </li>    
            <li >
              <a class="dropdown-item btn btn-info" [routerLink]="['/saved']" routerLinkActive="router-link-active">SAVED</a>
            </li>        
            <ng-template #notis>
              <li *ngIf="userdata.purpose!='customer'" ><a class="dropdown-item" (click)="takendsub()" >GET SUBSCRIPTION</a></li>
            </ng-template>
            <li><a style="color: red;" class="dropdown-item" (click)="logout()">LogOut</a></li>
          </ul>
        </div>
      </div><br>
      <div *ngIf="userdata.image; else noImage" class="mt-5  d-flex align-items-center justify-content-center">
        <img style="height: 300px;width: 300px;border-radius:50%;" src="https://renton.cloud/public/{{userdata.image}}" alt="...">
      </div>
      <ng-template #noImage>
        <div class="mt-5 d-flex align-items-center justify-content-center">
          <img style="height: 300px;width: 300px;border-radius:50%;" src="assets/149071.png" alt="...">
        </div>
      </ng-template>
    
      <div class="d-flex justify-content-center">
        <h1 *ngIf="!sub;else notsube">{{userdata.name}}</h1>
        <ng-template #notsube>
          <h1>{{userdata.name}}
            <i class="material-icons" style="font-weight: bolder; color: green;font-size:30px;">check</i> 
          </h1>
          

        </ng-template>
      </div>


      <div  class="d-flex mt-3 justify-content-center">
        <h3>connections - {{concount}}</h3>
        <h3 *ngIf="userdata.purpose!='customer'" style="margin-left:15px;">post - {{userdata.post}}</h3>
      </div>

    </div>

    <div class="col-lg-6 mt-5 " *ngIf="datashow==true">
      <div class="newboot" style="background-color:aqua;border-radius:40px;width:fit-content;">
        <span class="boot m-2">{{userdata.purpose}}</span>
      </div>
      <div class="card mt-5">


        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Full Name</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{userdata.name}}</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Email</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{userdata.email}}</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">place</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{userdata.place}}</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">aboutyou</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{userdata.aboutyou}}</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Mobile No</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{userdata.phone}}</p>
            </div>
          </div>
          <hr>
          <div *ngIf="userdata.qualification" class="row">
            <div class="col-sm-3">
              <p class="mb-0">qualification</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{userdata.qualification}}</p>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div *ngIf="addvehcle" class="col-lg-6 mt-4">
      <app-addvehicle (updateDatashow)="updateDatashow($event)"></app-addvehicle>
    </div>
    <div *ngIf="editprofile" class="col-lg-6 mt-4">
      <app-editprofile  (updateDatashow)="updateDatashow($event)"></app-editprofile>
    </div>
    
    <div class="col-md-1 m-2 stylebt lastone">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          actions
        </button>
        <ul class="dropdown-menu">
          <li *ngIf="userdata.purpose=='business' && sub ;else notsub">
            <a *ngIf="userdata.admin_verify;else notver" class="dropdown-item" (click)="showAddVehicle()" >ADD
              VEHICLE</a>
              <ng-template #notver>
                <a (click)="notverify()"  class="dropdown-item" >ADD
                  VEHICLE</a>
              </ng-template>
            </li>
          <ng-template #notsub>
            <li *ngIf="userdata.purpose=='business'"><a class="dropdown-item" (click)="notakensub()" >ADD VEHICLE
              </a></li>
          </ng-template>  
          <!-- <ng-template #isservice>
            <li *ngIf="userdata.purpose=='service'">
              <a *ngIf="userdata.admin_verify;else notadm" class="dropdown-item" >ADD POST
            </a>

            <ng-template #notadm>
              <a class="dropdown-item" (click)="notverify()" >ADD POST
              </a>
            </ng-template>

          </li>
          </ng-template>   -->
          <li><a class="dropdown-item" (click)="showEditProfile()">EDIT PROFILE</a></li>
          <li *ngIf="(userdata.purpose === 'service' || userdata.purpose === 'business') && !sub; else notis">
            <a *ngIf="userdata.admin_verify;else notv" class="dropdown-item" [routerLink]="['/subscription']" routerLinkActive="router-link-active">GET SUBSCRIPTION</a>
            <ng-template #notv>
            <a  (click)="notverify()" class="dropdown-item" >GET SUBSCRIPTION</a>

            </ng-template>
          </li>    
          <li >
            <a class="dropdown-item btn btn-info" [routerLink]="['/saved']" routerLinkActive="router-link-active">SAVED</a>
          </li>        
          <ng-template #notis>
            <li *ngIf="userdata.purpose!='customer'" ><a class="dropdown-item" (click)="takendsub()" >GET SUBSCRIPTION</a></li>
          </ng-template>
          <li><a style="color: red;" class="dropdown-item" (click)="logout()">LogOut</a></li>
        </ul>
      </div>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="userdata || vehicledata">
    <div class="col-lg-6" *ngFor="let item of vehicledata">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4 imgfit">
            <img style="height: 200px; width: 200px; border: 2px solid rgb(60, 51, 51);"
              src="https://renton.cloud/public/{{item.image}}"
              class="rounded-start" alt="...">
          </div>
  
          <div class="col-md-8 colr">
            <div class="card-body row ">
  
             
              <div class="col-4 ">
                <h2  class="card-title">${{item.rentAmount}}</h2>
                
                <h5 class="mt-2" style="font-weight: bolder;">{{item.name}}</h5>
               </div>
               <div class="col-4">
                <p class="mt-2" style="font-weight: bolder;" >type - {{item.type}}</p>
                <div  *ngIf="!item.is_block ; else elsetrue" class="bg-dark" style="border-radius: 10px; width: fit-content;">
                  <p *ngIf="item.status=='active';else not" class="mt-2 m-2" style="font-weight: bolder;color: antiquewhite;">{{item.status}}</p>
                  <ng-template #not>
                    <p class="mt-2 m-2" style="font-weight: bolder;color: rgb(255, 255, 255);">{{item.status}}</p>
                  </ng-template>
                </div>
                <ng-template #elsetrue>
                  <div  class="bg-danger" style="border-radius: 10px; width: fit-content;">
                    <p class="mt-2 m-2" style="font-weight: bolder;">BLOCKED</p>
                  </div>
                </ng-template> 

               </div>
               <div class="col-3 ">
                
                <p class="mt-2 " style="font-weight: bolder;">like -{{item.like | count}}</p>
                <p class="mt3" style="font-weight: bolder;">views -{{item.views | count}}</p>
  
               </div>
               <div class="col-1 ">
               
                <div class="dropdown">
                  <div class="dropdown-toggle dots" data-bs-toggle="dropdown" aria-expanded="false">
                    &#8226;&#8226;&#8226;
                  </div>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item " [routerLink]="['/editvehicle',item._id]" routerLinkActive="router-link-active" >Edit Vehicle</a></li>
                    <li><a class="dropdown-item text-danger" (click)="removevehicle(item._id)">remove vehicle</a></li>
                  </ul>
                </div>
                
  
               </div>
              
               <div class="mb-1">
                
               
                <button *ngIf="!item.showfaster;else takit"  (click)="showfast(item._id)" style="margin-left: 10px;font-weight: bolder;" class=" btn btn-info btn-sm">Show Faster</button>
                <ng-template #takit>
                  <a style="margin-left: 10px; font-weight: bolder;" class="btn btn-success btn-sm">
                    <i class="material-icons">check</i>
                  </a>                  
                  </ng-template>
                <button *ngIf="item.status=='active' && !item.is_block;else notactive" (click)="makechange(item._id)" class=" btn btn-warning btn-sm " style="float: right;margin-right: 10px;font-weight: bolder;">Make running</button>
                <ng-template #notactive>
                  <button *ngIf="!item.is_block" (click)="makechange(item._id)" class=" btn btn-info btn-sm " style="float: right;margin-right: 10px;font-weight: bolder;">make active</button>
                </ng-template>
               </div>
               <hr>
               <div>
                <span class=" items" style="font-weight: bolder;float: right;">{{ item.date | date:'yyyy-MM-dd' }}</span>
                <span class=" items " style="font-weight: bolder;">{{item.place}}</span>
               </div>
  
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>

</div>


<app-footer></app-footer>