
<form [formGroup]="reativeform" (ngSubmit)="submit()">
    <h4>edit prfile</h4>
    <div class="row" style="border: 2px solid black; border-radius:30px;">
        <div class="col-md-6 mb-3 mt-2">
            <div *ngIf="userdata.image; else noimg">
             <img style="width: 200px;height:150px;border-radius:50%;" src="https://renton.cloud/public/{{userdata.image}}">
            </div>
            <ng-template #noimg>
            <div>
                <img style="width: 200px;height:150px;border-radius:50%;" src="assets/149071.png" alt="...">
            </div>
            </ng-template>

             <div class="mb-3">
                 <label class="form-label mt-3">add Your Photo</label><hr>
                 <input type="file" (change)="uploadImage($event.target)" formControlName="image" class="form-control" >
                <span style="color: red;" *ngIf="getimage && getimage.invalid && getimage.touched">please enter your name</span><br>

             </div>
             
         </div>
        <div class="col-md-6 mb-3 mt-2">
            <input type="text" class="form-control mt-2" formControlName="name" value="{{userdata.name}}" id="vehicleName" >
            <span style="color: red;" *ngIf="getname && getname.invalid && getname.touched">please enter your name</span><br>
            <input type="text" class="form-control mt-2" formControlName="place" value="{{userdata.place}}" id="vehicleName" >
            <span style="color: red;" *ngIf="getplace && getplace.invalid && getplace.touched">please enter your place</span><br>
            <input type="text" class="form-control mt-2" formControlName="aboutyou" value="{{userdata.aboutyou}}" id="vehicleName" >
            <span style="color: red;" *ngIf="getaboutyou && getaboutyou.invalid && getaboutyou.touched">please enter about you</span><br>
            <input type="text" class="form-control mt-2" formControlName="qualification" value="{{userdata.qualification}}" id="vehicleName"  >
            <span style="color: red;" *ngIf="getqualification && getqualification.invalid && getqualification.touched">please enter your qualification</span><br>
            <input type="number" class="form-control mt-2" formControlName="phone"  value="{{userdata.phone}}"  id="vehicleAmount">
            <span style="color: red;" *ngIf="getphone && getphone.invalid && getphone.touched">please enter your phone</span><br>
        </div>
       <span style="color: red;">{{message}}</span>
        <button style="border-radius: 30px;" type="submit" [disabled]="reativeform.invalid"  class="btn btn-primary">Submit</button>

    </div>
    
</form>
