<app-navbar></app-navbar>
<app-genric></app-genric>
<app-ads></app-ads>
<div class="container">
    <h4 class="mt-3 mb-3">New Recommended Vehicles</h4>
    <div class="row" *ngIf="(vehicledata$ | async) as vehicledata">
        <div class="col-md-3" *ngFor="let user of vehicledata">
            <div class="card" style="width: 18rem;">
                <div class="card-header">{{ user.ownername }}</div>
                <div class="card-body">
                    <div *ngFor="let vehicle of user.vehicles">
                        <h5 class="card-title">{{ vehicle.name }}</h5>
                        <p class="card-text">Rent: {{ vehicle.rentAmount }}</p>
                        <p class="card-text">Type: {{ vehicle.type }}</p>
                        <p class="card-text">Place: {{ vehicle.place }}</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

