
<div class="conta">
    <form [formGroup]="reativeform" (ngSubmit)="submit()">
    <div class="form-model">

       <h2>Set password</h2><br>
     <input class="vla" type="password" placeholder="Enter new password" formControlName="password"><br>
     <span style="color: red;" *ngIf="password && password.invalid && password.touched ">password must be 8 letter</span><br>
     <input class="vla" type="password" placeholder="conform password" formControlName="cpassword"><br>
     <span style="color: red;" class="d-flex justify-content-center align-items-center">{{message}}</span>
      <span style="color: red;" *ngIf="cpassword && cpassword.invalid && cpassword.touched ">password must be 8 letter</span><br>
      <button class="btn btn-dark text-white" [disabled]="reativeform.invalid">login</button>
    </div>
   </form>
 </div>
