<div class="conta">
    <div class="form-model">
    <form [formGroup]="reativeform" (ngSubmit)="submit()">
       <h2 class="text-center">Enter email</h2>
       <div class="col">
          <input class="vla" type="email" formControlName="email" placeholder="enter your email" >
       </div>
       <span style="color: red;"class="d-flex align-items-center justify-content-center">{{message}}</span>
       <span style="color: red;" class="d-flex align-items-center justify-content-center" *ngIf="email && email.invalid && email.touched ">enter correct email</span>
       <button [disabled]="reativeform.invalid" class="btn btn-success text-white">Submit</button>
    </form>
    </div>
 </div>
